table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
  }

th {
    text-align: left;
  }

table {
    border-spacing: 5px;
    width: auto;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
